<div class="dialog-form" fxLayout="column" fxLayoutAlign="center center">
    <h1 mat-dialog-title>{{ passedUser.title}} Usuario</h1>
    <form [formGroup]="userForm" fxLayout="column" (ngSubmit)="onSubmit()">
        <div fxLayout="row">
            <!-- avatar -->
            <div *ngIf="passedUser.title !== 'Nuevo'" style="margin-right: 1em;">
                <img [src]="passedUser.user.avatar" alt="user avatar" style="border: solid 1px #3f51b5; padding: 0.1em">
            </div>
            <div fxLayout="column">
                <!-- first-name  -->
                <mat-form-field>
                    <input matInput type="text" placeholder="First name" formControlName="first_name">
                </mat-form-field>
                <!-- last name -->
                <mat-form-field>
                    <input matInput type="text" placeholder="Last name" formControlName="last_name">
                </mat-form-field>
                <!-- email -->
                <mat-form-field>
                    <input matInput type="email" placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <!-- button -->
        <mat-dialog-actions fxLayoutAlign="space-around">
            <button mat-raised-button [mat-dialog-close]="false">No</button>
            <button mat-raised-button [mat-dialog-close]="editUser" type="submit"
                color="primary">{{passedUser.title}}</button>
        </mat-dialog-actions>
    </form>
    <mat-dialog-content *ngIf="!spinner">


    </mat-dialog-content>
    <mat-spinner *ngIf="spinner"></mat-spinner>
</div>