<mat-nav-list>
        <a mat-list-item (click)="onClose()" routerLink="/welcome">Welcome</a>
        <a mat-list-item (click)="onClose()" routerLink="/trabajo-practico">Trabajo Práctico</a>
</mat-nav-list>