<div class="dialog-form" fxLayout="column" fxLayoutAlign="center center">
    <h1 mat-dialog-title>Detalles de Usuario</h1>
    <mat-spinner *ngIf="spinner"></mat-spinner>
    <div fxLayout="row" *ngIf="!spinner && user.data" >
        <!-- avatar -->
        <div style="margin-right: 1em;" *ngIf="user.data.avatar">
            <img [src]="user.data.avatar" alt="user avatar" style="border: solid 1px #3f51b5; padding: 0.1em">
        </div>
        <div fxLayout="column">
            <!-- first-name  -->
            <p *ngIf="user.data.first_name">First Name: <strong> {{ user.data.first_name }} </strong></p>

            <!-- last name -->
            <p *ngIf="user.data.last_name">Last Name: <strong>{{ user.data.last_name }} </strong></p>


            <!-- email -->
            <p *ngIf="user.data.email">Email: <strong>{{ user.data.email }}</strong> </p>


        </div>
    </div>
    <!-- button -->
    <mat-dialog-actions fxLayoutAlign="space-around">
        <button mat-raised-button color="primary" [mat-dialog-close]="false">Salir</button>
    </mat-dialog-actions>
    
</div>