mat-toolbar {
    background: #2fc9bd;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover, 
a:active {
    color: lightgray;
}
.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
} 