<mat-toolbar>
        <div fxHide.gt-xs>
            <button  mat-icon-button  (click)="onToggleSidenave()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div><a routerLink="/"><img src="/assets/alquilando-white.png" alt="alquilando brand"></a></div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
            <ul fxLayout fxLayoutGap="25px" class="navigation-items"> 
                <li><a routerLink="/welcome">Welcome</a></li>
                <li><a routerLink="/trabajo-practico">Trabajo Práctico</a></li>
            </ul>
           
           
        </div>
    </mat-toolbar>