<div fxLayout="column" fxLayoutAlign="center center" class="main-container">
        <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Trabajo Práctio</mat-card-title>
                  <mat-card-subtitle>Conexión con servicio de usuarios</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/logo-alquilando-agua.png" alt="trabajo práctico alquilando">
                <mat-card-content>
                  <p>
                        El objetivo de este TP es desarrollar las vistas de un simple ABM de usuarios conectado a una API externa.

                  </p>
                </mat-card-content>
                <mat-card-actions fxLayout fxLayoutAlign="end" >
                  <button mat-raised-button color="accent" routerLink="/trabajo-practico">Abrir</button>
                </mat-card-actions>
              </mat-card>
</div>
