<section class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <br>
  <mat-card>
    <mat-card-title>Usuarios
      <button mat-raised-button matTooltip="Crear nuevo usuario" (click)="newUsuario()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
  </mat-card>
  <br>

  <mat-spinner *ngIf="spinner"></mat-spinner>
  <table *ngIf="!spinner" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

    <!-- First Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> Nombre. </th>
      <td mat-cell *matCellDef="let element"> {{ element.first_name }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Apellido. </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email. </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Detail Column -->
    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef> Detail </th>
      <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="detailUser(element)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editUser(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="deleteUser(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
    [pageSizeOptions]="[1, 2, 3, 5, 8, 13]" (page)="pageEvent = getServerData($event)"></mat-paginator>


</section>